Source: gevent-websocket
Section: python
Priority: optional
Maintainer: Roman Imankulov <roman.imankulov@gmail.com>
Build-Depends: python-setuptools,
               python | python-all | python-dev | python-all-dev (>=2.6.3),
               debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: https://bitbucket.org/Jeffrey/gevent-websocket

Package: python-gevent-websocket
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-gevent (>=0.13),
         python-greenlet (>=0.3),
Description: websocket library for the gevent networking library
